:root{
    --primary: #007fff;
    --second: #00bfff;
}

#form{
    position: relative;
    padding: 25px 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: white ;
    width: 75vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow:4px 8px #c3c3c3;
}

#form form{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

#form form div{
    padding: 0 20px;
}
#form form input{
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 10px;
    width: 20vw;
    display: block;
}

#form form input #get_info{
    display: inline-block;
}

#form form div #erro h5{
    color: red;
}

#form form #send{
    background-color: #66ff00;
    color: white;
    padding: 0 0 ;
    width: 10vw;
    height: 5vh;
    margin: 0 20px;
    font-size: 20px;
}
