:root{
    --primary: #007fff;
    --background: #e3e3e3
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    /*box-shadow: var(--fundo);*/
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 10px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: var(--background);

    display: grid;
    grid-template-areas: "header" "main" "footer";
}
#cabecalho{
    display: grid;
    grid-area: "header";
}

header{
    display: flex;
    flex-direction: column;
}

header .redes-sociais {
    display: flex;
    justify-content: flex-end;
}
header .redes-sociais ul{
    display: flex;
    flex-direction: row;
}

header .redes-sociais ul li{
    padding-left: 5px;
    margin: 0px 2px;
    list-style-type: none;
}

header .redes-sociais ul li a img{
    height: 40px;
    width: 40px;
}

header a{
    display: flex;
    justify-content: center;
}

header a img {
    height: 150px;
    width: 150px;
}

header .main_nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header .main_nav ul li{
    list-style-type: none;
    padding: 0.6rem;
}

header .main_nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

main{
    grid-area: "main";
}

footer{
    grid-area: "footer";
}